.btn-custom-search {
  color: #f90a45;
  border: 1px solid #f90a45;
}

.btn-custom-search:hover {
  background-color: #f90a45;
  color: #fff;
}

.btn-custom-submit {
  background-color: #f90a45;
  color: #fff;
}

.btn-custom-submit:hover {
  background-color: #d00236;
  color: #fff;
}

.btn-custom-outline-submit {
  border: 1px solid #f90a45;
  color: #f90a45;
}

.btn-custom-outline-submit:hover {
  background-color: #f90a45;
  color: #fff;
}

.btn-custom-cancel {
  background-color: #fc5a37;
  color: #fff;
}

.btn-custom-cancel:hover {
  background-color: #d54c2d;
  color: #fff;
}

.text-custom-red {
  color: #f90a45;
}

.fs-custom-paragraph {
  font-size: 16px;
}

.text-custom-price {
  font-size: 32px;
}

.text-custom-total-price {
  font-size: 20px;
}

.search-bar {
  width: 750px;
}

.dropdown-toggle::after {
  display: none;
}

.rating {
  direction: rtl;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.rating input {
  display: none;
}
.rating label {
  cursor: pointer;
}
.rating label:before {
  content: "\f005";
  font-family: "FontAwesome";
  margin: 0 5px;
  color: #ccc;
}
.rating input:checked ~ label:before,
.rating label:hover ~ label:before,
.rating input:checked ~ label:hover:before,
.rating label:hover:before {
  color: #ffca08;
}

@media (max-width: 768px) {
  .search-bar {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .text-custom-price {
    font-size: 20px;
  }

  .text-custom-total-price {
    font-size: 16px;
  }

  .fs-custom-paragraph {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .text-custom-total-price {
    font-size: 14px;
  }
}
